body { 
background-color: #EAF2F8;
}

nav ul { 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 2em;
    justify-content:space-around;
    font-family:'Lucida Bright' Georgia, 'Times New Roman', Times, serif;
    color: #1A5276;
    padding-right: 2em;
    background-color: #A9CCE3;
    align-items: center;
}

ol{
    color: #1A5276;}

a { color: #1A5276;
    transition: background 350ms ease;
}

a:hover{
    background-color:floralwhite;
    padding: 0,75em;
    border-radius: 0.25em;
    display:inline-block;  
}

h1 {
    color: #2980B9;
    font-family: 'Lucida Bright', Georgia, 'Times New Roman', Times, serif;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 2em;
}

.h1-index {
    font-family: 'Lucida Bright' Georgia, 'Times New Roman', Times, serif;
    color: #2980B9;
    font-size:5em;
    margin-top: 1em;
    padding: 0.5em; 
}

.h1-aboutme { 
    color:  #2980B9;
    font-family: 'Lucida Bright' Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    padding-top: 3em;
}
 
h2 {
    color: #1A5276 ; 
    padding-left: 1em;
    padding-bottom: 1em;
    font-family: 'Lucida Bright' Georgia, 'Times New Roman', Times, serif;
    font-size: 1,75em;    
    font-weight: bold;
}

p{
    color:#1A5276  ;
    padding-left: 1em;
    font-size: 1em;
    
}
/*Tsilivi*/
.restaurant{
   display:flex;
   width: 100vw;
}

.bg-blauw{
    background-color:#A9CCE3;
    padding: 2em;
}

.collage{
    max-width: 40em;
    padding: 3em;
}
/*Blue Caves*/
.tekst-naast-afbeelding{
    display: flex;
    padding: 1em;
    margin: 1em;
    border: dotted;
    color:#2980B9;
}
/*images*/
img{
    max-width:23em;
}
.image-index { 
    max-width:20em;
    padding: 5em;
    padding-top: 1em;
}
     
.logo {
    max-width: 8em;
   padding-bottom: 0em;
}

.panorama {
    max-width:100%;
    padding-left: 0em;
    padding-right: 0em;
    height: min-content;
}
.scroll-image{
    display: flex;
    background-color:#2980B9;
    overflow:scroll;
    white-space: nowrap;
    padding: 2em;
    border-radius: 1em;
    margin-bottom:2em;
    height: 20em;
    gap: 1em;
}
.links-foto-noordkaap{
    display: flex;
    padding: 1em;
}

.rechts-foto-noordkaap{
    display: flex;
    padding: 1em;
    align-items: center;
    background-color:#73a1c0;
    margin-bottom: 2em;
    gap: 1em;
}

footer{
    font-family: 'Lucida Bright', Georgia, 'Times New Roman', Times, serif;
    font-size:smaller;
    background-color: #A9CCE3;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
