body { 
background-color: #EAF2F8;
font-family: 'Lucida Bright' Georgia, 'Times New Roman', Times, serif;
}

nav ul { 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 2em;
    justify-content:space-around;
    color: #1A5276;
    padding-right: 2em;
    background-color: #A9CCE3;
    align-items: center;
}

ol{
    color: #1A5276;}

a { color: #1A5276;
    transition: background 450ms ease;
}

a:hover{
    background-color:floralwhite;
    padding: 0.75em;
    border-radius: 0.25em;
    display:inline-block;  
}

h1 {
    color: #2980B9;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 2em;
}

.h1-index {
    color: #2980B9;
    font-size:5em;
    margin-top: 1em;
    padding: 0.5em; 
}

.h1-aboutme { 
    color:  #2980B9;
    font-size: 2em;
    padding-top: 3em;
}
 
h2 {
    color: #1A5276 ; 
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 1.75em;    
    font-weight: bold;
}

p{
    color:#1A5276  ;
    padding-left: 1em;
    padding-right: 1.5em;
    font-size: 1em;
    text-align: left;
    
}
/*Tsilivi*/
.restaurant{
   display:flex;
   width: 100vw;
   margin-bottom:3em;
   margin-top: 3em;
}

.bg-blauw{
    background-color:#A9CCE3;
    padding: 4em;
}

.collage{
    max-width: 40em;
    padding: 3em;
}

.foto-links-tsilivi{
    display: flex;
    padding: 1em;
    margin-bottom: 4em;
    align-items: center;
}

/*Blue Caves*/
.tekst-naast-afbeelding{
    display: flex;
    padding: 1em;
    margin: 1em;
    border: dotted;
    color:#2980B9;
    align-items: center;
}

.scroll-img-bluecaves{
    display: flex;
    overflow: scroll;
    height: 15em;
    gap: 0.25em;
    margin: 5em;  
}
/*images*/
img{
    max-width:23em;
}

.image-index { 
    max-width:20em;
    padding: 5em;
    padding-top: 1em;
}

.image-beneden{
    margin-top: 2em;
    margin-bottom: 2em;
}
     
.logo {
    max-width: 8em;
   padding-bottom: 0em;
}

.panorama {
    max-width:100%;
    margin-bottom: 2em;
    margin-top: 2em;
}
.scroll-image{
    display: flex;
    background-color:#2980B9;
    overflow:scroll;
    padding: 2em;
    border-radius: 1em;
    margin-bottom:2em;
    margin-top: 4em;
    height: 20em;
    gap: 1em;
}
.links-foto{
    display: flex;
    padding: 1em;
}

.rechts-foto{
    display: flex;
    padding: 1em;
    align-items: center;
    background-color:#73a1c0;
    margin-bottom: 2em;
    gap: 1em;
}

.rechts-foto-zakynthosstad{
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color:#73a1c0;
    padding: 1em;
    margin-top: 3em;
    
}

.links-foto-zakynthosstad{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 6em;    
    border: dotted;
    color:#2980B9;
}



footer{
    font-size:smaller;
    color:#1A5276  ;
    background-color: #A9CCE3;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
